.previousAnswer {
  text-align: center;
  margin: 50px;
}

.scoreTitle {
  text-decoration: underline;
  text-align: center;
  font-weight: 800;
  margin: 50px 0;
}

.scoreList {
  font-size: 30px;
  text-align: center;
}

.rightAnswer {
  color: green;
}
.wrongAnswer {
  color: red;
}
