.score-container {
  height: 100vh;
}

.score-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previousAnswer {
  text-align: center;
  margin: 50px;
}

.scoreTitle {
  border-bottom: 3px solid #000;
  width: fit-content;
  text-align: center;
  font-weight: 800;
  margin: 50px 0;
}

.scoreList {
  font-size: 30px;
  text-align: center;
}

.rightAnswer {
  color: green;
}
.wrongAnswer {
  color: red;
}
