.finalScoreTitle {
  text-align: center;
  text-decoration: underline;
  font-weight: 800;
  margin: 50px 0;
}

.finalScore {
  text-align: center;
}

.finalScoreButton {
  width: 300px;
  text-align: center;
  margin: 0 20px;
}

.finalScoreButtonContainer {
  display: flex;
  justify-content: center;
}

.congratulationsTitle {
  text-align: center;
}
